{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash -xe

# crontab/chezmoi hash: {{ include "linux/crontab/chezmoi" | sha256sum }}
NEW_CRONTAB=$(cat {{ .chezmoi.sourceDir }}/linux/crontab/chezmoi)

echo "Deleting existing chezmoi cronjob"
crontab -l | grep -v 'bin/chezmoi' | crontab -

echo "Adding chezmoi cronjob"
crontab -l | echo "${NEW_CRONTAB}" | crontab -
{{ end }}
